@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);

* {
  -webkit-box-sizing      : border-box;
  -moz-box-sizing         : border-box;
  box-sizing              : border-box;
}

body {
  overflow-x              : hidden;
  padding                 : 100px;
  font-family             : Libre Baskerville;
  color                   : #222222;
  font-weight             : 400;
  font-size               : 20px;
}

h1, h2, h3 {
  font-family             : Ubuntu;
}