.editor {
  margin                  : 0 auto;
  max-width               : 800px;
}

h1 {
  min-height              : 1em;
  font-weight             : 700;
  font-size               : 300%;
}

article {
  min-height              : 1em;
}

.Medium,
.Medium * {
  min-height: 1em;
  line-height: 1em;
}